/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
  font-family: 'Oswald', sans-serif;
}

.img-max-height {
  max-height: 241px;
  object-fit: cover;
}

@media (min-width: 768px) {
  .img-max-height {
    max-height: 336px;
  }
}

/* Affiche la modale */
.modal {
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

/* Par défaut class hidden pour masquer la modale */
.modal.hidden {
  display: none !important; /* !important pour forcer le masquage de la modale */
}