/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
  font-family: 'Oswald', sans-serif;
}

.img-max-height {
  max-height: 241px;
  object-fit: cover;
}

@media (min-width: 768px) {
  .img-max-height {
    max-height: 336px;
  }
}

.imageWrapper {
  height: 423px;
  overflow: hidden;
  position: relative;
}

.imageWrapper img {
  position: absolute;
  top: -20%;
  width: 100%;
  left: 0;
  z-index: 0;
}

.imageBox {
  position: relative;
}

/* Card image overlay */
.overlay {
  position: absolute;
  width: 100%;
  height: 25%;
  top: 35%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.overlay .title {
    position: absolute;
    top: 10px;
    left: 15px;
    margin: 0;
    color: #fff;
}

.overlay .detailBtn {
    position: absolute;
    bottom: 10px;
    right: 15px;
}

/* Modal styles */
.modal {
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

/* Hide modal by default */
.modal.hidden {
  display: none !important;
}